/* external css */
.course{
    color:rgb(208, 139, 36);
    text-decoration: underline;
    font-size: 20px;
}
ul{
    color:rgb(243, 105, 25);
    font-family:  'Times New Roman';

}
#para{
    text-decoration: underline;
    font-size: 14px;
    
}
#parr{
    font-size: 12px;
    color:rgb(213, 28, 84);
}