form{
    
    
    background-color: rgb(236, 240, 239);
    width:350px;
    height:auto;
    
    margin:auto;
    border:2px solid black;
    border-radius: 15px;
    
}
legend{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #4CAF50;
    border-radius: 6px;
    
    padding: 6px 10px;
    background: white;
    box-shadow: 0 2px 5px;
}
fieldset{
    border: 2x solid #101210;
    padding:10px;
    border-radius: 10px;
} 
body{
    text-align: center;
    font-family: Arial, sans-serif;
}
